In [1]:
!pip install pandas
!pip install matplotlib
!pip install seaborn

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: matplotlib in /opt/anaconda3/lib/python3.12/site-packages (3.9.2)
Requirement already satisfied: contourpy>=1.0.1 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: numpy>=1.23 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib) (1.26.4)
Requirement already satisfied: packaging>=20.0 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Requirement already satisfied: seaborn in /opt/anaconda3/lib/python3.12/site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /opt/anaconda3/lib/python3.12/site-packages (from seaborn) (1.26.4)
Requirement already satisfied: pandas>=1.2 in /opt/anaconda3/lib/python3.12/site-packages (from seaborn) (2.2.2)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in /opt/anaconda3/lib/python3.12/site-packages (from seaborn) (3.9.2)
Requirement already satisfied: contourpy>=1.0.1 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.1)
Requirement already satisfied: pillow>=8 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas>=1.2->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Matplotlib is building the font cache; this may take a moment.

In [3]:
df = pd.read_csv('/Users/emilysanchez/Desktop/capstone_project/survey_data_updated.csv')

In [4]:
df.head()

,ResponseId,MainBranch,Age,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,YearsCode,...,JobSatPoints_4,JobSatPoints_5,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,ConvertedCompYearly,JobSat
0,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Hobby;Contribute to open-source projects;Other...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,20,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
1,3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Hobby;Contribute to open-source projects;Other...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,37,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10,I am a developer by profession,35-44 years old,"Independent contractor, freelancer, or self-em...",Remote,Bootstrapping a business,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",On the job training;Other online resources (e....,Technical documentation;Blogs;Written Tutorial...,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,11,"I used to be a developer by profession, but no...",35-44 years old,"Employed, full-time",Remote,Hobby;Contribute to open-source projects,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Books;Written Tutorial...,20,...,0.0,0.0,25.0,10.0,0.0,15.0,0.0,0.0,NaN,8.0
4,12,I am a developer by profession,45-54 years old,"Employed, full-time",In-person,Hobby;School or academic work,"Professional degree (JD, MD, Ph.D, Ed.D, etc.)","Books / Physical media;School (i.e., Universit...",NaN,30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df.describe(include='all')

,ResponseId,MainBranch,Age,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,YearsCode,...,JobSatPoints_4,JobSatPoints_5,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,ConvertedCompYearly,JobSat
count,18845.000000,18845,18845,18845,18839,18845,18845,18808,15931,18794,...,12163.000000,12170.000000,12185.000000,12185.000000,12191.000000,12184.000000,12187.000000,12182.000000,9.550000e+03,12111.000000
unique,NaN,5,8,60,3,107,8,358,5740,52,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,I am a developer by profession,25-34 years old,"Employed, full-time",Remote,Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,17139,7788,12664,8168,2731,8629,935,190,1560,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,28819.206315,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.030009,11.988671,25.292684,24.573818,22.860208,17.299167,12.217014,11.357700,8.458970e+04,7.145075
std,17541.596002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,19.114522,23.497413,27.500306,27.686252,27.149096,25.901276,24.363271,23.114259,1.173856e+05,1.989114
min,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000e+00,0.000000
25%,13747.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,5.000000,5.000000,0.000000,0.000000,0.000000,0.000000,3.222200e+04,6.000000
50%,27907.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,20.000000,15.000000,15.000000,10.000000,0.000000,0.000000,6.585750e+04,8.000000
75%,43410.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.000000,10.000000,30.000000,30.000000,30.000000,20.000000,10.000000,10.000000,1.100000e+05,8.000000
max,65432.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,6.340564e+06,10.000000

In [12]:
df.shape

(18845, 98)

In [14]:
print(df.dtypes)

ResponseId               int64
MainBranch              object
Age                     object
Employment              object
RemoteWork              object
                        ...
JobSatPoints_9         float64
JobSatPoints_10        float64
JobSatPoints_11        float64
ConvertedCompYearly    float64
JobSat                 float64
Length: 98, dtype: object

since Ages is an object (they are ranges in the survey responses), I will change the ages to be the median value of each category. I will then replace the values in the dataset to be these median ages. 
Note: 'Under 18 years old' will be assumed as 18, '65 years or older' will be assumed as 65, 'Prefer not to say' will be assumed as the median of all these ages (33.0 years old)

In [15]:
unique_ages = df['Age'].unique()
print(unique_ages)

['35-44 years old' '45-54 years old' '25-34 years old' '55-64 years old'
 '18-24 years old' 'Under 18 years old' '65 years or older'
 'Prefer not to say']

In [16]:
df['Age'] = df['Age'].replace('Under 18 years old', 18.0)
df['Age'] = df['Age'].replace('18-24 years old', 21.5)
df['Age'] = df['Age'].replace('25-34 years old', 29.5)
df['Age'] = df['Age'].replace('35-44 years old', 39.5)
df['Age'] = df['Age'].replace('45-54 years old', 49.5)
df['Age'] = df['Age'].replace('55-64 years old', 59.5)
df['Age'] = df['Age'].replace('65 years or older', 65.0)
df['Age'] = df['Age'].replace('Prefer not to say', 33.0)

/var/folders/vd/87t2c1411nv0n60c36h4qkt00000gn/T/ipykernel_40890/1768953484.py:8: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Age'] = df['Age'].replace('Prefer not to say', 33.0)

In [19]:
df['Age'] = df['Age'].replace(30.0, 29.5)
mean_age = df['Age'].mean()
print(mean_age)

34.207057574953566

In [21]:
median_age = df['Age'].median()
print(median_age)

29.5

In [22]:
df.describe()

,ResponseId,Age,WorkExp,JobSatPoints_1,JobSatPoints_4,JobSatPoints_5,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,ConvertedCompYearly,JobSat
count,18845.000000,18845.000000,12274.000000,12137.000000,12163.000000,12170.000000,12185.000000,12185.000000,12191.000000,12184.000000,12187.000000,12182.000000,9.550000e+03,12111.000000
mean,28819.206315,34.207058,11.620336,20.700606,8.030009,11.988671,25.292684,24.573818,22.860208,17.299167,12.217014,11.357700,8.458970e+04,7.145075
std,17541.596002,9.749297,8.844735,26.962498,19.114522,23.497413,27.500306,27.686252,27.149096,25.901276,24.363271,23.114259,1.173856e+05,1.989114
min,2.000000,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000e+00,0.000000
25%,13747.000000,29.500000,5.000000,0.000000,0.000000,0.000000,5.000000,5.000000,0.000000,0.000000,0.000000,0.000000,3.222200e+04,6.000000
50%,27907.000000,29.500000,10.000000,10.000000,0.000000,0.000000,20.000000,15.000000,15.000000,10.000000,0.000000,0.000000,6.585750e+04,8.000000
75%,43410.000000,39.500000,16.000000,25.000000,6.000000,10.000000,30.000000,30.000000,30.000000,20.000000,10.000000,10.000000,1.100000e+05,8.000000
max,65432.000000,65.000000,50.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,6.340564e+06,10.000000

Current analysis: Mean age is 34 years old. Median age is 29.5 years old. Upper IQR is 39.5. The majority of survey participants are between 25-44 years old and(using the original age categories in the survey).

In [23]:
print(df.columns) #I need all the column names to continue my analyis

Index(['ResponseId', 'MainBranch', 'Age', 'Employment', 'RemoteWork',
       'CodingActivities', 'EdLevel', 'LearnCode', 'LearnCodeOnline',
       'YearsCode', 'YearsCodePro', 'DevType', 'OrgSize', 'Country',
       'LanguageHaveWorkedWith', 'LanguageWantToWorkWith', 'LanguageAdmired',
       'DatabaseHaveWorkedWith', 'DatabaseWantToWorkWith', 'DatabaseAdmired',
       'PlatformHaveWorkedWith', 'PlatformWantToWorkWith', 'PlatformAdmired',
       'WebframeHaveWorkedWith', 'WebframeWantToWorkWith', 'WebframeAdmired',
       'EmbeddedHaveWorkedWith', 'EmbeddedWantToWorkWith', 'EmbeddedAdmired',
       'MiscTechHaveWorkedWith', 'MiscTechWantToWorkWith', 'MiscTechAdmired',
       'ToolsTechHaveWorkedWith', 'ToolsTechWantToWorkWith',
       'ToolsTechAdmired', 'NEWCollabToolsHaveWorkedWith',
       'NEWCollabToolsWantToWorkWith', 'NEWCollabToolsAdmired',
       'OpSysPersonal use', 'OpSysProfessional use',
       'OfficeStackAsyncHaveWorkedWith', 'OfficeStackAsyncWantToWorkWith',
       'OfficeStackAsyncAdmired', 'OfficeStackSyncHaveWorkedWith',
       'OfficeStackSyncWantToWorkWith', 'OfficeStackSyncAdmired',
       'AISearchDevHaveWorkedWith', 'AISearchDevWantToWorkWith',
       'AISearchDevAdmired', 'AISelect', 'AISent', 'AIBen', 'AIAcc',
       'AIComplex', 'AIToolCurrently Using', 'AIToolInterested in Using',
       'AIToolNot interested in Using', 'AINextMuch more integrated',
       'AINextNo change', 'AINextMore integrated', 'AINextLess integrated',
       'AINextMuch less integrated', 'AIThreat', 'AIEthics', 'AIChallenges',
       'TBranch', 'ICorPM', 'WorkExp', 'Knowledge_1', 'Knowledge_2',
       'Knowledge_3', 'Knowledge_4', 'Knowledge_5', 'Knowledge_6',
       'Knowledge_7', 'Knowledge_8', 'Knowledge_9', 'Frequency_1',
       'Frequency_2', 'Frequency_3', 'TimeSearching', 'TimeAnswering',
       'Frustration', 'ProfessionalTech', 'ProfessionalCloud',
       'ProfessionalQuestion', 'Industry', 'JobSatPoints_1', 'JobSatPoints_4',
       'JobSatPoints_5', 'JobSatPoints_6', 'JobSatPoints_7', 'JobSatPoints_8',
       'JobSatPoints_9', 'JobSatPoints_10', 'JobSatPoints_11',
       'ConvertedCompYearly', 'JobSat'],
      dtype='object')

I will first take a look at who we are suverying

In [28]:
#need to make years coding and years coding pro into ints. 
yctype = df.dtypes.iloc[9]
ycptype = df.dtypes.iloc[10]

print(yctype)
print(ycptype)

object
object

In [32]:
unique_years = df['YearsCode'].unique()
print(unique_years)

unique_yearsPro = df['YearsCodePro'].unique()
print(unique_yearsPro)

['20' '37' '15' '30' '12' '25' '44' '18' '9' '10' '8' '22' '6' '7' '40'
 '39' '11' '35' '34' '13' '14' '5' '19' '31' '17' '16' '43' '28' '4' '26'
 '32' '36' '41' '45' '27' '3' '38' '21' '24' '33' '2' '23' nan '29' '42'
 'More than 50 years' '48' 'Less than 1 year' '47' '46' '49' '1' '50']
['17' '27' '11' nan '25' '10' '18' '37' '12' '6' '7' '8' '14' '4' '3' '1'
 '29' '30' '5' '24' '13' '35' '23' '9' '2' '16' '15' '20' '32' '19' '33'
 'Less than 1 year' '39' '22' '31' '26' '28' '40' '38'
 'More than 50 years' '21' '34' '36' '45' '41' '43' '44' '42' '46' '47'
 '48' '49' '50']

In [40]:
print(df.isnull().sum())

ResponseId                0
MainBranch                0
Age                       0
Employment                0
RemoteWork                6
                       ...
JobSatPoints_9         6661
JobSatPoints_10        6658
JobSatPoints_11        6663
ConvertedCompYearly    9295
JobSat                 6734
Length: 98, dtype: int64

In [33]:
df['YearsCode'] = df['YearsCode'].replace('Less than 1 year', 1)
df['YearsCode'] = df['YearsCode'].replace('More than 50 years', 51)
df['YearsCodePro'] = df['YearsCodePro'].replace('Less than 1 year', 1)
df['YearsCodePro'] = df['YearsCodePro'].replace('More than 50 years', 51)

In [41]:
# Cleaning the NaNs and replacing them with the mean
df['YearsCode'] = pd.to_numeric(df['YearsCode'], errors='coerce')
df['YearsCode'] = df['YearsCode'].fillna(df['YearsCode'].mean())
print(df['YearsCode'].head())

0    20.0
1    37.0
2    15.0
3    20.0
4    30.0
Name: YearsCode, dtype: float64

In [42]:
# Cleaning the NaNs and replacing them with the mean
df['YearsCodePro'] = pd.to_numeric(df['YearsCodePro'], errors='coerce')
df['YearsCodePro'] = df['YearsCodePro'].fillna(df['YearsCodePro'].mean())
print(df['YearsCodePro'].head())

0    17.000000
1    27.000000
2    11.000000
3    10.719962
4    25.000000
Name: YearsCodePro, dtype: float64

In [49]:
avg_years_code = df['YearsCode'].mean()
avg_years_codepro = df['YearsCodePro'].mean()

med_years_code = df['YearsCode'].median()
med_years_codepro = df['YearsCodePro'].median()

In [50]:
print(f"Mean years coding: {avg_years_code}")
print(f"Mean years coding professionally: {avg_years_codepro}")

print(f"Median years coding: {med_years_code}")
print(f"Median years coding professionally: {med_years_codepro}")

Mean years coding: 15.266521230179846
Mean years coding professionally: 10.719962366484031
Median years coding: 13.0
Median years coding professionally: 9.0

In [54]:
mean_comp = df['ConvertedCompYearly'].mean()
median_comp = df['ConvertedCompYearly'].median()

print(f"Average yearly compensation: {mean_comp}")
print(f"Median yearly compensation: {median_comp}")

Average yearly compensation: 84589.6967539267
Median yearly compensation: 65857.5

I will now take a look at the languages the survey respondents work with

In [56]:
df.to_csv('/Users/emilysanchez/Desktop/capstone_project/CLEAN_survey_data_updated.csv', index=False)